<div class="container">
  <div class="row">
    <div class="col" *ngFor="let item of arr; index as i">
      <div class="card" style="width: 18rem;">
        <img
          class="card-img-top"
          src="https://previews.123rf.com/images/panyamail/panyamail1809/panyamail180900343/109879063-user-avatar-icon-sign-profile-symbol.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Sub Name : {{ item.name }}</h5>
          <h5 class="card-title">Block Name : {{ item.block.name }}</h5>
          <h5 class="card-title">Location : {{ item.block.location }}</h5>
          <p class="card-text">
            For more information click the button below
          </p>
          <div class="text-center">
            <a class="btn btn-primary  " (click)="selectSub(item)">Select</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
